In [15]:
# Initial imports
import os
import requests
import json
import pandas as pd
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si

%matplotlib inline

In [7]:
# Pull daily stock data for S&P Financial Sector Fund from 2000 through current date
XLF_daily = get_data("XLF", start_date="01/01/2000", end_date="09/24/2021", index_as_date = True, interval="1d")
XLF_daily

,open,high,low,close,adjclose,volume,ticker
2000-01-03,19.267872,19.267872,18.455524,18.582453,12.000946,1185699,XLF
2000-01-04,18.176279,18.201666,17.605097,17.770105,11.476314,885705,XLF
2000-01-05,17.770105,17.960501,17.440088,17.630484,11.386142,717181,XLF
2000-01-06,17.681255,18.518990,17.681255,18.404753,11.886184,415832,XLF
2000-01-07,18.531681,18.734768,18.277822,18.709383,12.082916,468149,XLF
...,...,...,...,...,...,...,...
2021-09-17,37.700001,37.939999,37.480000,37.580002,37.418003,82976600,XLF
2021-09-20,36.590000,36.689999,36.029999,36.549999,36.549999,95008800,XLF
2021-09-21,36.779999,36.919998,36.410000,36.500000,36.500000,45837600,XLF
2021-09-22,36.959999,37.369999,36.880001,37.110001,37.110001,58347800,XLF
2021-09-23,37.470001,38.200001,37.410000,38.020000,38.020000,71805000,XLF

In [20]:
XLF_close = XLF_daily.drop(columns=['open', 'high', 'low', 'adjclose', 'volume', 'ticker']).rename(columns = {'close': 'XLF Close'})
XLF_close

            XLF Close
2000-01-03  18.582453
2000-01-04  17.770105
2000-01-05  17.630484
2000-01-06  18.404753
2000-01-07  18.709383
...               ...
2021-09-17  37.580002
2021-09-20  36.549999
2021-09-21  36.500000
2021-09-22  37.110001
2021-09-23  38.020000

[5467 rows x 1 columns]

In [21]:
XLF_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5467 entries, 2000-01-03 to 2021-09-23
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   XLF Close  5467 non-null   float64
dtypes: float64(1)
memory usage: 85.4 KB