In [2]:
# Initial imports
import os
import requests
import json
import pandas as pd
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si

%matplotlib inline

# Data Gathering

### Obtain stock market data for four S&P 500 sectors from 2000 through 2021.

#### Energy Sector

In [3]:
# Pull daily stock data for S&P Energy Sector Fund from 2000 through current date
XLE_daily = get_data("XLE", start_date="01/01/2000", end_date="09/24/2021", index_as_date = True, interval="1d")
XLE_daily

,open,high,low,close,adjclose,volume,ticker
2000-01-03,27.312500,27.312500,26.375000,26.562500,15.663602,380300,XLE
2000-01-04,26.312500,26.312500,25.875000,26.062500,15.368752,722200,XLE
2000-01-05,26.125000,26.750000,26.000000,26.750000,15.774174,337800,XLE
2000-01-06,26.750000,27.843750,26.750000,27.781250,16.382275,133100,XLE
2000-01-07,27.687500,28.406250,27.687500,28.078125,16.557343,468000,XLE
...,...,...,...,...,...,...,...
2021-09-17,49.439999,50.220001,49.189999,49.320000,48.728001,31545900,XLE
2021-09-20,47.549999,47.810001,46.470001,47.240002,47.240002,42830000,XLE
2021-09-21,47.799999,48.049999,46.849998,47.349998,47.349998,25661700,XLE
2021-09-22,48.150002,49.380001,48.150002,48.810001,48.810001,39626100,XLE
2021-09-23,49.080002,50.669998,48.849998,50.520000,50.520000,24867100,XLE

In [4]:
# Drop unneeded columns and rename the last column to be specific to this DataFrame
XLE_close = XLE_daily.drop(columns=['open', 'high', 'low', 'adjclose', 'volume', 'ticker']).rename(columns = {'close': 'XLE Close'})
XLE_close

            XLE Close
2000-01-03  26.562500
2000-01-04  26.062500
2000-01-05  26.750000
2000-01-06  27.781250
2000-01-07  28.078125
...               ...
2021-09-17  49.320000
2021-09-20  47.240002
2021-09-21  47.349998
2021-09-22  48.810001
2021-09-23  50.520000

[5467 rows x 1 columns]

In [5]:
# Confirm data has no null values and is in float format
XLE_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5467 entries, 2000-01-03 to 2021-09-23
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   XLE Close  5467 non-null   float64
dtypes: float64(1)
memory usage: 85.4 KB

#### Financial Sector

In [6]:
# Pull daily stock data for S&P Financial Sector Fund from 2000 through current date
# Drop unneeded columns and rename the last column to be specific to this DataFrame
XLF_daily = get_data("XLF", start_date="01/01/2000", end_date="09/24/2021", index_as_date = True, interval="1d")
XLF_close = XLF_daily.drop(columns=['open', 'high', 'low', 'adjclose', 'volume', 'ticker']).rename(columns = {'close': 'XLF Close'})
XLF_close

            XLF Close
2000-01-03  18.582453
2000-01-04  17.770105
2000-01-05  17.630484
2000-01-06  18.404753
2000-01-07  18.709383
...               ...
2021-09-17  37.580002
2021-09-20  36.549999
2021-09-21  36.500000
2021-09-22  37.110001
2021-09-23  38.020000

[5467 rows x 1 columns]

In [7]:
# Confirm data has no null values and is in float format
XLF_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5467 entries, 2000-01-03 to 2021-09-23
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   XLF Close  5467 non-null   float64
dtypes: float64(1)
memory usage: 85.4 KB

#### Technology Sector

In [8]:
# Pull daily stock data for S&P Technology Sector Fund from 2000 through current date
# Drop unneeded columns and rename the last column to be specific to this DataFrame
XLK_daily = get_data("XLK", start_date="01/01/2000", end_date="09/24/2021", index_as_date = True, interval="1d")
XLK_close = XLK_daily.drop(columns=['open', 'high', 'low', 'adjclose', 'volume', 'ticker']).rename(columns = {'close': 'XLK Close'})
XLK_close

             XLK Close
2000-01-03   55.437500
2000-01-04   52.625000
2000-01-05   51.843750
2000-01-06   50.125000
2000-01-07   51.000000
...                ...
2021-09-17  155.479996
2021-09-20  152.380005
2021-09-21  152.440002
2021-09-22  154.529999
2021-09-23  156.600006

[5467 rows x 1 columns]

In [9]:
# Confirm data has no null values and is in float format
XLK_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5467 entries, 2000-01-03 to 2021-09-23
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   XLK Close  5467 non-null   float64
dtypes: float64(1)
memory usage: 85.4 KB

#### Healthcare Sector

In [10]:
# Pull daily stock data for S&P Healthcare Sector Fund from 2000 through current date
# Drop unneeded columns and rename the last column to be specific to this DataFrame
XLV_daily = get_data("XLV", start_date="01/01/2000", end_date="09/24/2021", index_as_date = True, interval="1d")
XLV_close = XLV_daily.drop(columns=['open', 'high', 'low', 'adjclose', 'volume', 'ticker']).rename(columns = {'close': 'XLV Close'})
XLV_close

             XLV Close
2000-01-03   30.296875
2000-01-04   29.609375
2000-01-05   29.343750
2000-01-06   29.437500
2000-01-07   29.796875
...                ...
2021-09-17  133.000000
2021-09-20  131.149994
2021-09-21  131.350006
2021-09-22  131.570007
2021-09-23  132.520004

[5467 rows x 1 columns]

In [11]:
# Confirm data has no null values and is in float format
XLV_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5467 entries, 2000-01-03 to 2021-09-23
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   XLV Close  5467 non-null   float64
dtypes: float64(1)
memory usage: 85.4 KB

#### All Sectors

In [12]:
# Join DataFrames for all S&P500 sectors to be analyzed
sector_data = pd.concat([XLE_close, XLF_close, XLK_close, XLV_close], axis='columns', join='inner')
sector_data.sort_index(inplace=True)
sector_data

            XLE Close  XLF Close   XLK Close   XLV Close
2000-01-03  26.562500  18.582453   55.437500   30.296875
2000-01-04  26.062500  17.770105   52.625000   29.609375
2000-01-05  26.750000  17.630484   51.843750   29.343750
2000-01-06  27.781250  18.404753   50.125000   29.437500
2000-01-07  28.078125  18.709383   51.000000   29.796875
...               ...        ...         ...         ...
2021-09-17  49.320000  37.580002  155.479996  133.000000
2021-09-20  47.240002  36.549999  152.380005  131.149994
2021-09-21  47.349998  36.500000  152.440002  131.350006
2021-09-22  48.810001  37.110001  154.529999  131.570007
2021-09-23  50.520000  38.020000  156.600006  132.520004

[5467 rows x 4 columns]

# Data Slicing

### Slice stock market data in 14 day increments, from Election Day plus 13 days, for presidential elections.

In [30]:
# slice range for 2000 Presidential election
pres_election_busha = sector_data.loc['2000-11-4':'2000-11-17']
pres_election_busha

            XLE Close  XLF Close  XLK Close  XLV Close
2000-11-06  31.750000  23.621548  43.625000  30.062500
2000-11-07  32.000000  23.545389  43.937500  30.187500
2000-11-08  32.312500  23.126522  41.625000  29.937500
2000-11-09  31.968750  23.291531  41.015625  28.562500
2000-11-10  32.062500  23.037674  38.750000  28.453125
2000-11-13  31.812500  22.491877  38.625000  27.843750
2000-11-14  32.000000  22.618807  40.718750  28.515625
2000-11-15  32.625000  22.441105  41.000000  28.656250
2000-11-16  32.750000  22.364946  39.687500  28.312500
2000-11-17  32.484375  22.187246  40.000000  28.125000

In [31]:
# slice range for 2004 Presidential election
pres_election_bushb = sector_data.loc['2004-11-2':'2004-11-15']
pres_election_bushb

            XLE Close  XLF Close  XLK Close  XLV Close
2004-11-02  34.410000  23.411860  20.150000  27.680000
2004-11-03  35.099998  23.549959  20.260000  28.500000
2004-11-04  35.520000  23.948009  20.490000  28.559999
2004-11-05  35.730000  23.899269  20.670000  28.730000
2004-11-08  35.139999  23.866776  20.700001  28.719999
2004-11-09  34.820000  23.842405  20.690001  28.730000
2004-11-10  35.230000  23.907393  20.510000  28.650000
2004-11-11  35.160000  24.134850  20.770000  28.799999
2004-11-12  35.900002  24.232330  21.059999  28.840000
2004-11-15  35.119999  24.305443  21.180000  28.990000

In [32]:
# slice range for 2008 Presidential election
pres_election_obamaa = sector_data.loc['2008-11-4':'2008-11-17']
pres_election_obamaa

            XLE Close  XLF Close  XLK Close  XLV Close
2008-11-04  53.020000  13.403737  17.350000  27.150000
2008-11-05  50.650002  12.177092  16.299999  26.750000
2008-11-06  47.599998  11.340374  15.400000  26.100000
2008-11-07  49.849998  11.551584  15.840000  26.430000
2008-11-10  50.020000  11.210398  15.670000  26.240000
2008-11-11  48.580002  10.820471  15.330000  25.770000
2008-11-12  44.599998  10.154346  14.610000  25.200001
2008-11-13  49.840000  10.893582  15.520000  26.549999
2008-11-14  47.770000  10.341186  14.810000  25.540001
2008-11-17  46.779999   9.683184  14.390000  25.100000

In [33]:
# slice range for 2012 Presidential election
pres_election_obamab = sector_data.loc['2012-11-6':'2012-11-19']
pres_election_obamab

            XLE Close  XLF Close  XLK Close  XLV Close
2012-11-06  72.750000  13.119415  29.250000  40.200001
2012-11-07  70.849998  12.680747  28.520000  39.529999
2012-11-08  69.570000  12.575142  28.110001  39.060001
2012-11-09  69.550003  12.591389  28.240000  39.169998
2012-11-12  69.690002  12.615760  28.200001  39.369999
2012-11-13  69.400002  12.526401  28.059999  39.220001
2012-11-14  68.559998  12.307067  27.780001  38.750000
2012-11-15  68.650002  12.331438  27.620001  38.639999
2012-11-16  68.919998  12.412673  27.660000  38.930000
2012-11-19  70.510002  12.648253  28.420000  39.340000

In [34]:
# slice range for 2016 Presidential election
pres_election_trump = sector_data.loc['2016-11-8':'2016-11-21']
pres_election_trump

            XLE Close  XLF Close  XLK Close  XLV Close
2016-11-08  69.320000  19.990000  47.410000  68.370003
2016-11-09  70.449997  20.840000  47.349998  70.779999
2016-11-10  70.750000  21.610001  46.590000  71.559998
2016-11-11  69.459999  21.670000  46.730000  70.489998
2016-11-14  69.849998  22.200001  46.020000  70.269997
2016-11-15  71.820000  22.180000  46.669998  70.470001
2016-11-16  71.320000  21.860001  47.099998  70.169998
2016-11-17  70.839996  22.160000  47.400002  70.449997
2016-11-18  71.129997  22.160000  47.360001  69.699997
2016-11-21  72.820000  22.240000  47.840000  69.949997

In [35]:
# slice range for 2020 Presidential election
pres_election_biden = sector_data.loc['2020-11-3':'2020-11-16']
pres_election_biden

            XLE Close  XLF Close   XLK Close   XLV Close
2020-11-03  29.530001  24.850000  113.099998  105.000000
2020-11-04  29.570000  24.559999  117.500000  109.660004
2020-11-05  29.570000  25.160000  121.150002  109.879997
2020-11-06  28.930000  24.959999  121.580002  109.919998
2020-11-09  33.060001  27.010000  120.699997  110.949997
2020-11-10  34.130001  27.150000  118.449997  111.269997
2020-11-11  33.779999  27.040001  121.260002  111.129997
2020-11-12  32.689999  26.590000  120.180000  110.720001
2020-11-13  33.880001  27.030001  121.199997  112.120003
2020-11-16  36.110001  27.629999  122.370003  111.930000