In [15]:
# Initial imports
import os
import requests
import json
import pandas as pd
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si

%matplotlib inline

In [23]:
# Pull daily stock data for S&P Energy Sector Fund from 2000 through current date
XLE_daily = get_data("XLE", start_date="01/01/2000", end_date="09/24/2021", index_as_date = True, interval="1d")
XLE_daily

,open,high,low,close,adjclose,volume,ticker
2000-01-03,27.312500,27.312500,26.375000,26.562500,15.663602,380300,XLE
2000-01-04,26.312500,26.312500,25.875000,26.062500,15.368752,722200,XLE
2000-01-05,26.125000,26.750000,26.000000,26.750000,15.774174,337800,XLE
2000-01-06,26.750000,27.843750,26.750000,27.781250,16.382275,133100,XLE
2000-01-07,27.687500,28.406250,27.687500,28.078125,16.557343,468000,XLE
...,...,...,...,...,...,...,...
2021-09-17,49.439999,50.220001,49.189999,49.320000,48.728001,31545900,XLE
2021-09-20,47.549999,47.810001,46.470001,47.240002,47.240002,42830000,XLE
2021-09-21,47.799999,48.049999,46.849998,47.349998,47.349998,25661700,XLE
2021-09-22,48.150002,49.380001,48.150002,48.810001,48.810001,39626100,XLE
2021-09-23,49.080002,50.669998,48.849998,50.520000,50.520000,24867100,XLE

In [24]:
# Drop unneeded columns and rename the last column to be specific to this DataFrame
XLE_close = XLE_daily.drop(columns=['open', 'high', 'low', 'adjclose', 'volume', 'ticker']).rename(columns = {'close': 'XLE Close'})
XLE_close

            XLE Close
2000-01-03  26.562500
2000-01-04  26.062500
2000-01-05  26.750000
2000-01-06  27.781250
2000-01-07  28.078125
...               ...
2021-09-17  49.320000
2021-09-20  47.240002
2021-09-21  47.349998
2021-09-22  48.810001
2021-09-23  50.520000

[5467 rows x 1 columns]

In [25]:
# Confirm data has no null values and is in float format
XLE_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5467 entries, 2000-01-03 to 2021-09-23
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   XLE Close  5467 non-null   float64
dtypes: float64(1)
memory usage: 85.4 KB

In [26]:
# Pull daily stock data for S&P Financial Sector Fund from 2000 through current date
# Drop unneeded columns and rename the last column to be specific to this DataFrame
XLF_daily = get_data("XLF", start_date="01/01/2000", end_date="09/24/2021", index_as_date = True, interval="1d")
XLF_close = XLF_daily.drop(columns=['open', 'high', 'low', 'adjclose', 'volume', 'ticker']).rename(columns = {'close': 'XLF Close'})
XLF_close

            XLF Close
2000-01-03  18.582453
2000-01-04  17.770105
2000-01-05  17.630484
2000-01-06  18.404753
2000-01-07  18.709383
...               ...
2021-09-17  37.580002
2021-09-20  36.549999
2021-09-21  36.500000
2021-09-22  37.110001
2021-09-23  38.020000

[5467 rows x 1 columns]

In [35]:
# Confirm data has no null values and is in float format
XLF_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5467 entries, 2000-01-03 to 2021-09-23
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   XLF Close  5467 non-null   float64
dtypes: float64(1)
memory usage: 85.4 KB

In [29]:
# Pull daily stock data for S&P Technology Sector Fund from 2000 through current date
# Drop unneeded columns and rename the last column to be specific to this DataFrame
XLK_daily = get_data("XLK", start_date="01/01/2000", end_date="09/24/2021", index_as_date = True, interval="1d")
XLK_close = XLK_daily.drop(columns=['open', 'high', 'low', 'adjclose', 'volume', 'ticker']).rename(columns = {'close': 'XLK Close'})
XLK_close

             XLK Close
2000-01-03   55.437500
2000-01-04   52.625000
2000-01-05   51.843750
2000-01-06   50.125000
2000-01-07   51.000000
...                ...
2021-09-17  155.479996
2021-09-20  152.380005
2021-09-21  152.440002
2021-09-22  154.529999
2021-09-23  156.600006

[5467 rows x 1 columns]

In [30]:
# Confirm data has no null values and is in float format
XLK_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5467 entries, 2000-01-03 to 2021-09-23
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   XLK Close  5467 non-null   float64
dtypes: float64(1)
memory usage: 85.4 KB

In [31]:
# Pull daily stock data for S&P Real Estate Sector Fund from 2000 through current date
# Drop unneeded columns and rename the last column to be specific to this DataFrame
XLRE_daily = get_data("XLRE", start_date="01/01/2000", end_date="09/24/2021", index_as_date = True, interval="1d")
XLRE_close = XLRE_daily.drop(columns=['open', 'high', 'low', 'adjclose', 'volume', 'ticker']).rename(columns = {'close': 'XLRE Close'})
XLRE_close

            XLRE Close
2015-10-08   30.209999
2015-10-09   30.160000
2015-10-12   30.350000
2015-10-13   30.160000
2015-10-14   30.160000
...                ...
2021-09-17   46.849998
2021-09-20   46.270000
2021-09-21   46.279999
2021-09-22   46.669998
2021-09-23   46.439999

[1501 rows x 1 columns]

In [32]:
# Confirm data has no null values and is in float format
XLRE_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1501 entries, 2015-10-08 to 2021-09-23
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   XLRE Close  1501 non-null   float64
dtypes: float64(1)
memory usage: 23.5 KB

In [33]:
# Pull daily stock data for S&P Health Care Sector Fund from 2000 through current date
# Drop unneeded columns and rename the last column to be specific to this DataFrame
XLV_daily = get_data("XLV", start_date="01/01/2000", end_date="09/24/2021", index_as_date = True, interval="1d")
XLV_close = XLV_daily.drop(columns=['open', 'high', 'low', 'adjclose', 'volume', 'ticker']).rename(columns = {'close': 'XLV Close'})
XLV_close

             XLV Close
2000-01-03   30.296875
2000-01-04   29.609375
2000-01-05   29.343750
2000-01-06   29.437500
2000-01-07   29.796875
...                ...
2021-09-17  133.000000
2021-09-20  131.149994
2021-09-21  131.350006
2021-09-22  131.570007
2021-09-23  132.520004

[5467 rows x 1 columns]

In [34]:
# Confirm data has no null values and is in float format
XLV_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5467 entries, 2000-01-03 to 2021-09-23
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   XLV Close  5467 non-null   float64
dtypes: float64(1)
memory usage: 85.4 KB

In [47]:
# Join DataFrames for all S&P500 financial sectors to be analyzed
sector_data = pd.concat([XLE_close, XLF_close, XLK_close, XLV_close], axis='columns', join='inner')
sector_data.sort_index(inplace=True)
sector_data

            XLE Close  XLF Close   XLK Close   XLV Close
2000-01-03  26.562500  18.582453   55.437500   30.296875
2000-01-04  26.062500  17.770105   52.625000   29.609375
2000-01-05  26.750000  17.630484   51.843750   29.343750
2000-01-06  27.781250  18.404753   50.125000   29.437500
2000-01-07  28.078125  18.709383   51.000000   29.796875
...               ...        ...         ...         ...
2021-09-17  49.320000  37.580002  155.479996  133.000000
2021-09-20  47.240002  36.549999  152.380005  131.149994
2021-09-21  47.349998  36.500000  152.440002  131.350006
2021-09-22  48.810001  37.110001  154.529999  131.570007
2021-09-23  50.520000  38.020000  156.600006  132.520004

[5467 rows x 4 columns]