In [35]:
import numpy as np
import datetime as dt
from pathlib import Path
import os
import pandas as pd
import alpaca_trade_api as tradeapi
from yahoo_fin.stock_info import get_data
from dotenv import load_dotenv
load_dotenv()

%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [40]:
ticker_list = ['XLE', 'XLF', 'XLK', 'XLV']
historical_datas = {}
for ticker in ticker_list:
    historical_datas[ticker] = get_data(ticker)
for ticker in ticker_list:
    print(historical_datas[ticker])

                 open       high        low      close   adjclose    volume  \
1998-12-22  23.312500  23.390625  23.187500  23.265625  13.500203     15200
1998-12-23  23.343750  23.750000  23.312500  23.750000  13.781269     67800
1998-12-24  23.812500  23.812500  23.593750  23.625000  13.708741     12300
1998-12-28  23.750000  23.750000  23.343750  23.500000  13.636205     13500
1998-12-29  23.562500  23.734375  23.343750  23.734375  13.772202     22000
...               ...        ...        ...        ...        ...       ...
2021-09-20  47.549999  47.810001  46.470001  47.240002  47.240002  42830000
2021-09-21  47.799999  48.049999  46.849998  47.349998  47.349998  25661700
2021-09-22  48.150002  49.380001  48.150002  48.810001  48.810001  39626100
2021-09-23  49.080002  50.669998  48.849998  50.520000  50.520000  24867100
2021-09-24  50.250000  51.160000  50.150002  50.900002  50.900002  27748900

           ticker
1998-12-22    XLE
1998-12-23    XLE
1998-12-24    XLE
1998-12-28    XLE
1998-12-29    XLE
...           ...
2021-09-20    XLE
2021-09-21    XLE
2021-09-22    XLE
2021-09-23    XLE
2021-09-24    XLE

[5727 rows x 7 columns]
                 open       high        low      close   adjclose    volume  \
1998-12-22  19.052092  19.052092  18.849005  18.937855  12.079448     55887
1998-12-23  18.861698  19.217100  18.861698  19.217100  12.257560     78784
1998-12-24  19.217100  19.344028  19.153635  19.344028  12.338526     43824
1998-12-28  19.331335  19.331335  19.039398  19.090172  12.176604     51948
1998-12-29  19.115557  19.293259  18.887083  19.293259  12.306145    100819
...               ...        ...        ...        ...        ...       ...
2021-09-20  36.590000  36.689999  36.029999  36.549999  36.549999  95008800
2021-09-21  36.779999  36.919998  36.410000  36.500000  36.500000  45837600
2021-09-22  36.959999  37.369999  36.880001  37.110001  37.110001  58347800
2021-09-23  37.470001  38.200001  37.410000  38.020000  38.020000  71805000
2021-09-24  37.990002  38.349998  37.939999  38.220001  38.220001  48045300

           ticker
1998-12-22    XLF
1998-12-23    XLF
1998-12-24    XLF
1998-12-28    XLF
1998-12-29    XLF
...           ...
2021-09-20    XLF
2021-09-21    XLF
2021-09-22    XLF
2021-09-23    XLF
2021-09-24    XLF

[5727 rows x 7 columns]
                  open        high         low       close    adjclose  \
1998-12-22   32.406250   32.500000   31.781250   32.046875   24.669796
1998-12-23   32.750000   32.812500   32.156250   32.812500   25.259169
1998-12-24   32.812500   32.812500   32.562500   32.687500   25.162939
1998-12-28   33.187500   33.187500   32.593750   32.781250   25.235113
1998-12-29   32.937500   33.015625   32.500000   32.875000   25.307283
...                ...         ...         ...         ...         ...
2021-09-20  152.929993  153.710007  150.350006  152.380005  152.380005
2021-09-21  153.309998  153.690002  151.850006  152.440002  152.440002
2021-09-22  153.270004  155.130005  152.589996  154.529999  154.529999
2021-09-23  155.330002  156.970001  154.850006  156.600006  156.600006
2021-09-24  155.649994  156.970001  155.580002  156.710007  156.710007

              volume ticker
1998-12-22    300500    XLK
1998-12-23    338300    XLK
1998-12-24    243700    XLK
1998-12-28    309300    XLK
1998-12-29    123800    XLK
...              ...    ...
2021-09-20  17834700    XLK
2021-09-21   9227500    XLK
2021-09-22  13995300    XLK
2021-09-23   9767000    XLK
2021-09-24   5826200    XLK

[5727 rows x 7 columns]
                  open        high         low       close    adjclose  \
1998-12-22   24.812500   25.062500   24.812500   25.031250   18.126972
1998-12-23   25.187500   25.593750   25.187500   25.593750   18.534311
1998-12-24   25.625000   25.750000   25.515625   25.750000   18.647459
1998-12-28   25.671875   25.750000   25.375000   25.375000   18.375891
1998-12-29   25.375000   25.937500   25.375000   25.937500   18.783243
...                ...         ...         ...         ...         ...
2021-09-20  131.029999  132.320007  130.009995  131.149994  131.149994
2021-09-21  131.750000  132.699997  131.330002  131.350006  131.350006
2021-09-22  131.740005  132.229996  130.940002  131.570007  131.570007
2021-09-23  131.869995  133.289993  131.770004  132.520004  132.520004
2021-09-24  132.300003  132.789993  131.699997  131.979996  131.979996

              volume ticker
1998-12-22      5700    XLV
1998-12-23     18100    XLV
1998-12-24      4900    XLV
1998-12-28     15500    XLV
1998-12-29      5300    XLV
...              ...    ...
2021-09-20  17245000    XLV
2021-09-21  11741800    XLV
2021-09-22  11964100    XLV
2021-09-23  10366500    XLV
2021-09-24   6961900    XLV

[5727 rows x 7 columns]

,open,high,low,close,adjclose,volume,ticker
1998-12-22,23.312500,23.390625,23.187500,23.265625,13.500203,15200,XLE
1998-12-23,23.343750,23.750000,23.312500,23.750000,13.781269,67800,XLE
1998-12-24,23.812500,23.812500,23.593750,23.625000,13.708741,12300,XLE
1998-12-28,23.750000,23.750000,23.343750,23.500000,13.636205,13500,XLE
1998-12-29,23.562500,23.734375,23.343750,23.734375,13.772202,22000,XLE
...,...,...,...,...,...,...,...
2021-09-20,47.549999,47.810001,46.470001,47.240002,47.240002,42830000,XLE
2021-09-21,47.799999,48.049999,46.849998,47.349998,47.349998,25661700,XLE
2021-09-22,48.150002,49.380001,48.150002,48.810001,48.810001,39626100,XLE
2021-09-23,49.080002,50.669998,48.849998,50.520000,50.520000,24867100,XLE
2021-09-24,50.250000,51.160000,50.150002,50.900002,50.900002,27748900,XLE

In [31]:
gov_data = pd.read_csv('https://raw.githubusercontent.com/MikeGruz/us-gov-control-historical/master/us_government_control_1857-2016.csv')
gov_data

,id,congress,year_start,year_end,senate_total,senate_dems,senate_dem_perc,senate_reps,senate_rep_perc,senate_others,...,house_vacancies,house_dem_control,house_rep_control,congress_dem_control,congress_rep_control,congress_div_control,pres_dem,pres_rep,pres,pres_last
0,1,35,1857,1859,64,39,0.609375,20,0.312500,5,...,0,1,0,1,0,0,1,0,James Buchanan,Buchanan
1,2,36,1859,1861,66,38,0.575758,26,0.393939,2,...,0,0,1,0,0,1,1,0,James Buchanan,Buchanan
2,3,37,1861,1863,50,11,0.220000,31,0.620000,7,...,2,0,1,0,1,0,0,1,Abraham Lincoln,Lincoln
3,4,38,1863,1865,51,12,0.235294,29,0.568627,0,...,0,0,1,0,1,0,0,1,Abraham Lincoln,Lincoln
4,5,39,1865,1867,52,10,0.192308,42,0.807692,0,...,0,0,1,0,1,0,1,0,Andrew Johnson,Johnson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,76,110,2007,2009,100,49,0.490000,49,0.490000,2,...,0,1,0,1,0,0,0,1,George W. Bush,Bush
76,77,111,2009,2011,100,57,0.570000,41,0.410000,2,...,0,1,0,1,0,0,1,0,Barack Obama,Obama
77,78,112,2011,2013,100,51,0.510000,47,0.470000,2,...,0,0,1,0,0,1,1,0,Barack Obama,Obama
78,79,113,2013,2015,100,53,0.530000,45,0.450000,2,...,0,0,1,0,0,1,1,0,Barack Obama,Obama
79,80,114,2015,2017,100,44,0.440000,54,0.540000,2,...,0,0,1,0,1,0,1,0,Barack Obama,Obama

In [34]:
gov_data.drop(labels = range(0,70), axis = 0)

,id,congress,year_start,year_end,senate_total,senate_dems,senate_dem_perc,senate_reps,senate_rep_perc,senate_others,...,house_vacancies,house_dem_control,house_rep_control,congress_dem_control,congress_rep_control,congress_div_control,pres_dem,pres_rep,pres,pres_last
70,71,105,1997,1999,100,45,0.45,55,0.55,0,...,0,0,1,0,1,0,1,0,Bill Clinton,Clinton
71,72,106,1999,2001,100,45,0.45,55,0.55,0,...,0,0,1,0,1,0,1,0,Bill Clinton,Clinton
72,73,107,2001,2003,100,50,0.50,49,0.49,1,...,0,0,1,0,0,1,0,1,George W. Bush,Bush
73,74,108,2003,2005,100,48,0.48,51,0.51,1,...,0,0,1,0,1,0,0,1,George W. Bush,Bush
74,75,109,2005,2007,100,44,0.44,55,0.55,1,...,1,0,1,0,1,0,0,1,George W. Bush,Bush
75,76,110,2007,2009,100,49,0.49,49,0.49,2,...,0,1,0,1,0,0,0,1,George W. Bush,Bush
76,77,111,2009,2011,100,57,0.57,41,0.41,2,...,0,1,0,1,0,0,1,0,Barack Obama,Obama
77,78,112,2011,2013,100,51,0.51,47,0.47,2,...,0,0,1,0,0,1,1,0,Barack Obama,Obama
78,79,113,2013,2015,100,53,0.53,45,0.45,2,...,0,0,1,0,0,1,1,0,Barack Obama,Obama
79,80,114,2015,2017,100,44,0.44,54,0.54,2,...,0,0,1,0,1,0,1,0,Barack Obama,Obama